@font-face {
  font-family: "Nunito";
  font-weight: 200;
  src: url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
}

@page {
  @top-center {
    content: element(page-header);
  }
  @bottom-center {
    background: #000;
    content: '';
    display: block;
    height: .02cm;
    opacity: .5;
    width: 100%;
  }
  @bottom-right {
    content: counter(page) " / " counter(pages);
    font-size: 10pt;
    margin-bottom: 1cm;
    text-align: center;
    white-space: nowrap;
  }
}

html {
    color: #000;
    font-family: Nunito;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.2;
  }

body {
    margin: 0;
    }

h1 {
    font-size: 12pt;
    text-transform: uppercase;
    margin: 0cm 0cm;
    page: no-chapter;
    width: 100%;
    }

h2, h3, h4 {
    font-size: 11pt;
    font-weight: 500;
    }

h2 {
    text-transform: uppercase;
    /* text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #e60000; */
    color: #e60000;
    padding-bottom: 0.2em;
    string-set: heading content();
    }

h3 {
    text-transform: uppercase;
    font-size: 11pt;
    margin-top: 1.5em;
    }
          
p {
    margin: 0.5em 0;
    }



/* #datos-generales section {
    display: flex;
    flex-wrap: wrap;
    margin: 1cm 0;
    } */

.datos {
    flex: 1 75%;
    margin: 0;
    padding-left: 1cm;
    }

section.datos dl {
    display: flex;
    flex-wrap: wrap;
    }
section.datos dl dt {
    font-weight: 300;
    width: 30%;
    }
section.datos dl dd {
    flex: 1 70%;
    font-weight: 500;
    margin: 0;
    padding: 0;
    }



#page-header {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #000;
}

.header-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  
  .header-logo.left {
    width: 20%;
    text-align: center;
    vertical-align: middle;
  }
  
  .header-logo.right {
    width: 20%;
    text-align: center;
    vertical-align: middle;
  }
  
  /* Estilo general para SVGs (por si no se aplica otro más específico) */
  .header-logo svg {
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* Logo izquierdo: más grande */
  .header-logo.left svg {
    height: 40px;
  }
  
  /* Logo derecho: más pequeño */
  .header-logo.right svg {
    height: 28px; /* ajusta a tu gusto */
  }

  .header-title {
    text-align: center;
    vertical-align: middle;
    padding: 0 0.5rem;
  }
  



/* Tipografía */






/* Tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 10pt;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 0.4em;
}

.table th {
  background-color: #f2f2f2;
}

/* Utilitarias */
.mt-2 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

/* Centrado usando margin auto (funciona mejor en WeasyPrint) */
.table-centered {
  margin: 0 auto;
  width: auto;
  min-width: 80%;
  max-width: 95%;
}

section.content-registro {
  margin: 1em;

}

section.content-registro p {
  margin: 0.4em 0;
  line-height: 1.4;
  display: flex;
  align-items: baseline;
}

section.content-registro p strong {
  min-width: 150px;
  flex-shrink: 0;
  margin-right: 10px;
}

/* Imagenes */
.content-imagenes p {
  margin-left: 1em;
  margin-bottom: 1em;
}

section.imagenes p {
  margin-left: 1em;
  margin-bottom: 1em;
}

section.imagenes div {
  display: inline-block; 
  margin: 0 5px 15px 5px; 
  width: 300px; 
  vertical-align: top;
  text-align: center;
}

section.imagenes div img {
  width: 300px; 
  height: auto; 
  object-fit: cover; 
  display: block;
}

section.imagenes div img p {
  margin-top: 4px; 
  font-size: 10pt; 
  color: #666; 
  text-align: center;
}

img {
  border: 1px solid #000; 
  border-radius: 5px; 
}


/* mapas */
section.mapas {
  display: flex; 
  flex-direction: row; 
  gap: 4px; 
  align-items: center;
}

section.mapas .mapa-imagen img{
  width: 420px;
  height: 420px;
  display: block;
  object-fit: cover;
  border-radius: 5px;
}

section.mapas .mapa-leyenda-caption{
  text-align: center;
  font-size: 10pt;
  color: #666;
}

section.mapas .mapa-leyenda{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: left;
}


