{% extends "base.html" %}

{% load static %} 

{% block content %}

<ul class="timeline timeline-vertical">

    {% include 'components/step&photo.html' with registro_id=sitio.registro_id title="sitio" photo_count=sitio.photo.count color_form=sitio.completeness_info.color  color_photo=sitio.photo.color first=True %}











    
    {% include 'components/step.html' with registro_id=sitio.registro_id title="acceso" color_form="primary" %}

    {% include 'components/step&photo.html' with registro_id=sitio.registro_id title="empalme" photo_count=sitio.photo_count color_form="primary"  color_photo="primary" last=True %}

</ul>

{% endblock %}
