{% extends "base.html" %}

{% load static %} 

{% block pre_content %}
    {% include 'components/common/breadcrumbs.html' %}
{% endblock pre_content %}

{% block content %}
<ul class="timeline timeline-vertical">

    {% include 'components/step&photo.html' with registro_id=sitio.registro_id title="sitio" photo_count=sitio.photo.count color_form=sitio.completeness_info.color color_photo=sitio.photo.color first=True %}
        
    {% include 'components/step.html' with registro_id=sitio.registro_id title="acceso" color_form=acceso.completeness_info.color %}

    {% include 'components/step&photo.html' with registro_id=sitio.registro_id title="empalme" photo_count=empalme.photo.count color_form=empalme.completeness_info.color color_photo=empalme.photo.color last=True %}

</ul>
{% endblock %}
