{% extends "base.html" %}

{% load static %} 

{% block pre_content %}
    {% include 'components/common/breadcrumbs.html' %}
{% endblock pre_content %}

{% block content %}
<ul class="timeline timeline-vertical">
    {% for step_name, step in steps %}
        {% include 'components/step_generic.html' with step=step first=forloop.first last=forloop.last %}
    {% endfor %}
</ul>

<!-- Leyenda de colores -->
<div class="mt-8 p-4 bg-base-100 rounded-lg shadow-sm border sombra">
    <div class="flex justify-between flex-col md:flex-row items-center">

        <div class="flex flex-col w-full mb-2">
            <h3 class="font-bold">Leyenda de colores</h3>
            <!-- Error - Rojo -->
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 rounded-full bg-error"></div>
                <span class="text-sm text-base-content">Sin Datos</span>
            </div>
            
            <!-- Warning - Amarillo -->
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 rounded-full bg-warning"></div>
                <span class="text-sm text-base-content">Parciales</span>
            </div>
            
            <!-- Success - Verde -->
            <div class="flex items-center gap-2">
                <div class="w-4 h-4 rounded-full bg-success"></div>
                <span class="text-sm text-base-content">Completos</span>
            </div>
        </div>

        <div class="flex flex-col w-full my-2 md:my-0 md:mb-auto">
            
            {% for step_name, step in steps %}
                {% if step.elements.desfase.enabled %}
                <dl class="grid grid-cols-[200px_1fr] text-sm space-y-0.5">
                    {% if step.elements.desfase.distancia %}
                        <dt>{{ step.elements.desfase.description }}</dt>
                        {% if step_name == 'sitio' %}
                            <dd class="w-fit text-{{ step.elements.desfase.color }} font-bold">
                                {{ step.elements.desfase.distancia }} m
                            </dd>
                        {% else %}
                            <dd class="w-fit font-bold">
                                {{ step.elements.desfase.distancia }} m
                            </dd>
                        {% endif %}
                    {% endif %}
                </dl>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %} 