{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>

        <script src="{% static 'js/theme-navigation.js' %}"></script>
        
        {% include 'base_head.html' %}
        {% csrf_token %}
        <meta name="csrf-token" content="{{ csrf_token }}">

        {% block css %}
        {% endblock css %}

        {% block javascript_top %}
        {% endblock javascript_top %}

        <title>{% block title %}{% endblock %}</title>
    </head>

<body class="bg-secondary transition-colors duration-200 font-nunito border-2 border-base-300">

<div class="flex h-screen overflow-hidden max-w-7xl mx-auto">
    <!-- Sidebar -->
    {% include 'components/sidebar.html' %}

    <!-- Main Content Wrapper -->
    <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Top Navigation -->
        {% include 'components/common/header.html' %}

        <!-- Page Content -->
        <main class="flex-1 overflow-y-auto md:px-4">
            {% block pre_content %}{% endblock %}
            {% block content %}{% endblock %}
            {% block post_content %}{% endblock %}
        </main>
    </div>
</div>

<!-- Overlay for mobile sidebar -->
<div id="sidebar-overlay" class="fixed inset-0 bg-opacity-50 z-40 hidden lg:hidden"></div>

{% block extra_js %}{% endblock %}
</body>
</html>


