{% extends 'base.html' %}
{% load static %}
{% load django_tables2 %}

{% block css %}
{% endblock css %}

{% block title %}{{ page_title|default:"Registros" }}{% endblock %}

{% block pre_content %}
    <!-- Breadcrumbs -->
    <div class="flex justify-between items-baseline mb-2">
        {% include 'components/common/breadcrumbs.html' %}
        <div class="flex items-center gap-2">

            {% if show_activate_button %}
            <a href="{% url app_namespace|add:':activar' %}" class="btn btn-primary btn-sm ml-2 sombra" id="activar-registro-btn">
                <i class="fa-solid fa-plus"></i>
                {{ activate_button_text|default:"Activar Registro" }}
            </a>
            {% endif %}
            
        </div>
    </div>
{% endblock pre_content %}


{% block content %}

<!-- Token CSRF para las actualizaciones AJAX -->
{% csrf_token %}

<div class="overflow-x-auto w-full">
    {% render_table table %}
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="text-red-600 {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



{% endblock content %}


{% block extra_js %}
<!-- Librería de alertas -->
<script src="{% static 'js/components/alert-component.js' %}"></script>

<!-- Scripts para funcionalidad de cambio de ITO, Constructor y Estado -->
<script src="{% static 'js/changeStatus.js' %}?v=1.4"></script>
<script src="{% static 'js/changeIto.js' %}?v=1.4"></script>
<script src="{% static 'js/changeConstructor.js' %}?v=1.4"></script>


{% endblock extra_js %} 