{% load static %}
{% load registro_urls %}

<li>
  {% if not first %}
  <hr class="bg-white sombra" />
  {% endif %}
  <div class="timeline-start timeline-box text-lg mr-4 sombra">
    {{title|title}}
  </div>
  <div class="timeline-middle">
    <a href="{% get_registro_url title registro_id %}"
      class="btn btn-{{color_form}} btn-circle p-1 sombra">
      {% include 'svgs/notes.svg' %}
    </a>
  </div>
  <div class="timeline-end text-lg">
    <a class="ml-4 btn btn-{{color_photo}} btn-circle sombra" 
    href="{% get_registro_photos_url title registro_id %}">
      {% include 'svgs/photo-camera.svg' %}
    </a>
    <span class="text-sm">{{photo_count}}</span>
  </div>
  <div class="timeline-end text-lg"></div>
  {% if not last %}
  <hr class="bg-white sombra" />
  {% endif %}
</li>
