{% load static %}
{% load registro_urls %}

<li>
    {% if not first %}
        <hr class="bg-white sombra" />
    {% endif %}
    <div class="timeline-middle">
      <a href="{% get_registro_url title registro_id %}"
      class="btn btn-{{color_form}} btn-circle p-1 sombra">
        {% include 'svgs/notes.svg' %}
      </a>
    </div>
    <div class="timeline-end timeline-box text-lg ml-4">{{title|title}}</div>
    {% if not last %}
        <hr class="bg-white sombra" />
    {% endif %}
  </li>