{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ elemento_config.title|default:elemento.tipo|title }} - {% if registro.sitio %}{{ registro.sitio.name }}{% else %}{{ registro.title }}{% endif %}{% endblock %}

{% block pre_content %}
    <!-- Breadcrumbs -->
    {% include 'components/common/breadcrumbs.html' %}
{% endblock pre_content %}

{% block content %}
<div class="container mx-auto p-2 md:p-4 bg-base-100 rounded-lg shadow-lg">

        <!-- Formulario -->
        <div class="mb-6">
            {% if form %}
                {% crispy form %}
            {% else %}
                <p class="text-red-500">No se pudo cargar el formulario.</p>
            {% endif %}
        </div>
    
</div>
{% endblock %} 